@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-linen: #EFE7DA;
  --color-gold: #F5E066;
  --color-carbon: #191919;
  --color-cinnabar: #E63B2E;
  --color-olive: #857E61;
}

body {
  background: #EFE7DA;
  color: #191919;
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  overscroll-behavior: none;
}
